* {
	margin: 0;
	padding: 1;
}
body {
	padding-top: 200px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 14px;
}
img {
	border-radius: 50%;
}
.left-panel {
	float: left;
}
.right-panel {
	float: right;
}
#navbar {
	height: 64px;
	display: flex;
	text-align: center;
	justify-content: center;
	overflow: hidden;
	background-color: black;
	padding: 50px 10px;
	transition: 0.4s;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
}
#navbar a {
	display: block;
	float: left;
	color: white;
	text-align: center;
	padding: 12px 12px 12px 12px;
	text-decoration: none;
	font-size: 15px;
	line-height: 25px;
	border-radius: 4px;
}
#navbar a:hover {
	background-color: black;
	color: blue;
}
#navbar-right {
	display: block;
	display: inline-block;
}
#navbar .active {
	background-color: grey;
}
@media screen and (max-width: 580px) {
	#navbar {
		padding: 20px 10px !important;
	}
	#navbar a {
		float: none;
		display: block;
		text-align: left;
	}
	#navbar-right {
		float: none;
	}
}
